body {
  background-color: #333;
  background-image: linear-gradient(to right, #333, #555151);
}

#loadingMessage {
  font-size: 3rem;
  text-align: center;
  color: white;
}

.pokemon-app {
  margin: 10rem auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
}

#pokemonImage {
  width: 300px;
}
